name: Test action
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
jobs:
  my_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get commit hash
        if: ${{ always() }}
        run: echo "::set-output name=sha8::$(echo ${GITHUB_SHA} | cut -c1-8)"
        id: slug
      - name: Get commit message
        id: get_commit_message
        run: |
          if   [[ '${{ github.event_name }}' == 'push' ]]; then
            echo ::set-output name=commit_message::$(git log --format=%B -n 1 HEAD)
          elif [[ '${{ github.event_name }}' == 'pull_request' ]]; then
            echo ::set-output name=commit_message::$(git log --format=%B -n 1 HEAD^2)
          fi
      - name: Chat Setup
        if: ${{ always() }}
        uses: ./ # Uses an action in the root directory
        with:
          message: ${{ steps.slug.outputs.commit_message }}
          project: ${{ github.repository }}
          commit: ${{ steps.slug.outputs.sha8 }}
          branch: ${{ github.ref }}
          status: ${{ job.status }}
          actionid: ${{ github.repository }}/runs/${{ github.run_id }}
          eventnumber: ${{ github.event.number }}
          baseref: ${{ github.base_ref }}
          headref: ${{ github.head_ref }}
          webhook: https://chat.googleapis.com/v1/spaces/AAAARxCdg4c/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=b55Vt5clqohp_cgD1bwpFgA0eZg8yhoBzuAYP1U-U3s%3D
